/* Importing fonts from google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

/* Removes extra spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Removes sidebar */
body {
  overflow: hidden;
}

.homeBackground {
  height: 100%;
  width: 100%;
  background: url("../assets/crew/background-crew-mobile.jpg") center center/cover;
  position: fixed;
  z-index: -1;
}

/* Navbar styling starts here */
.nav-bar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 64px;
  padding-top: 68px;
}
hr {
  border: 1px solid #979797;
  height: 1px;
  width: 38vw;
  opacity: 0.5;
  margin-left: 50px;
  margin-top: 64px;
}
.navitems {
  position: absolute;
  top: 0;
  left: 45vw;
  background-color: rgba(255, 255, 255, 0.132);
  padding: 40px;
  backdrop-filter: blur(10px);
  margin-top: 35px;
  width: 100%;
  height: 110.4px;
}
.navitems ul:nth-child(1) {
  margin-left: 70px;
}
.navitems a {
  border: none;
  outline: none;
  text-decoration: none;
  color: white;
}
.navitems ul {
  height: 70px;
  cursor: pointer;
  display: flex;
  text-align: center;
  gap: 3rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  color: white;
  list-style: none;
}
.indicator {
  height: 70.5px;
  border-bottom: 5px solid white;
}
.hamburger {
  display: none;
  position: absolute;
  top: 80px;
  right: 68px;
  cursor: pointer;
  z-index: 2;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #d0d6f9;
}
/* Navbar styling ends here */
/* Info styling starts here */
.info .objective {
  position: absolute;
  top: 25vh;
  left: 165px;
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
.number {
  opacity: 0.3;
}
.role {
  position: absolute;
  top: 55vh;
  left: 165px;
  color: white;
  opacity: 0.6;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
}
.name {
  position: absolute;
  top: 62.5vh;
  left: 185px;
  color: white;
  font-size: 70px;
  font-family: "Bellefair", serif;
}
.about {
  position: absolute;
  top: 75vh;
  left: 165px;
  color: white;
  opacity: 0.6;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Barlow Condensed", sans-serif;
}
.aboutTeam ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 90vh;
  left: 185px;
}
.aboutTeam li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  color: #fff;
  cursor: pointer;
}
#commander.memberIndicator,
#ms.memberIndicator,
#pilot.memberIndicator,
#fe.memberIndicator {
  background-color: white;
  opacity: 1;
}

.memberIndicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  opacity: 1;
}

.crewPic {
  position: absolute;
  bottom: 0;
  left: 837px;
  width: 480px;
}
/* Info styling ends here */
@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }
  .homeBackground {
    background: url("../assets/crew/background-crew-mobile.jpg")
      center center/cover;
  }
  hr {
    opacity: 0;
  }
  .navitems {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff22;
    backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    margin-top: 0;
    z-index: 3;
  }
  .navitems ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    list-style: none;
  }
  .navitems ul:nth-child(1) {
    margin-left: 0px;
  }
  .navitems.active {
    transform: translateX(0);
  }
  .hamburger {
    display: block;
    top: 80px;
    right: 68px;
    z-index: 4;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .info {
    text-align: center;
    color: white;
    left: 0;
    width: 100%;
  }
  .info .objective {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-wrap: nowrap;
  }
  .crewPic {
    left: 50%;
    height: 400px;
    width: 350px;
    top: 480px;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #ffffff22;
  }
  .team {
    text-align: center;
    left: 0;
    width: 100%;
  }
  .role {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 870px;
    text-wrap: nowrap;
  }
  .name {
    top: 1020px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about {
    position: absolute;
    left: 50%;
    top: 1220px;
    transform: translate(-50%, -50%);
    width: 100vw;
    white-space: normal;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about br{
    display: none;
  }
  .aboutTeam ul{
    position: absolute;
    left: 50%;
    top: 770px;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
    overflow-y: auto;
  }
  .homeBackground {
    background: url('../assets/crew/background-crew-tablet.jpg') center center/cover;
  }
  .hamburger {
    display: none;
  }
  .navNumber {
    display: none;
  }
  .navitems {
    position: absolute;
    margin: 0;
    padding-top: 0;
    width: fit-content;
    max-width: 100%;
    height: 80px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 68%;
    transform: translateX(-50%);
  }
  .navitems ul:nth-child(1) {
    margin-left: 0px;
  }
  .navitems ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 25px;
    height: 0;
  }
  .indicator {
    height: 40px;
  }
  hr {
    display: none;
  }
  .info {
    text-align: center;
    color: white;
    left: 0; 
    width: 100%;
  }
   .info .objective {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-wrap: nowrap;
  }
  .crewPic {
    left: 50%;
    height: 400px;
    width: 350px;
    top: 480px;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #ffffff22;
  }
  .team {
    text-align: center;
    left: 0;
    width: 100%;
  }
  .role {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 870px;
    text-wrap: nowrap;
  }
  .name {
    top: 1020px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about {
    position: absolute;
    left: 50%;
    top: 1220px;
    transform: translate(-50%, -50%);
    width: 100vw;
    white-space: normal;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about br{
    display: none;
  }
  .aboutTeam ul{
    position: absolute;
    left: 50%;
    top: 770px;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width:820px) {
  .indicator{
    height: 60px;
  }
}
 
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}
